@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(245, 245, 245);
  width: 375px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 24px;
  background-color: #fff;
  width: 100%;
  position: relative;
}

.bars {
  color: #6070ff;
}

.x-mark {
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  color: #6070ff;
  text-decoration: none;
}

.popUpNav {
  padding: 50px 20px;
  position: absolute;
  list-style: none;
  font-weight: 600;
  font-size: 32px;
  color: white;
  background-color: rgba(53, 53, 255, 0.79);
  width: 100%;
  height: 100vh;
  transition-duration: 0.5s;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
}

.popUpNav .mainXmark {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.popUpNav ul {
  list-style-type: none;
}

.social-icons li a {
  color: #505f79;
}

.popUpNav .mainXmark a {
  font-size: 20px;
}

.nav-items-2 .items {
  margin-bottom: 40px;
}

.nav-items-2 .items a {
  color: white;
}

.nav-items {
  display: none;
}

.main-1 {
  display: flex;
  flex-direction: column;
  padding: 102px 24px 0 24px;
  height: 718px;
  background-image: url("images/background-1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.name {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-bottom: 12px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  margin-bottom: 14px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  margin-bottom: 13px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.social-icons li {
  margin-right: 20px;
  height: 10px;
}

.cards-section {
  display: grid;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin-bottom: 88px;
  position: relative;
}

.profile-name {
  align-self: flex-start;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.canopy {
  display: inline;
  align-self: flex-start;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin-right: 70px;
}

.job {
  display: inline-block;
  width: 161px;
}

.job li {
  display: inline;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
  padding: 0 9px;
  position: relative;
}

.job-1::before {
  content: url("images/dot.png");
  position: absolute;
  bottom: 0;
  left: -3px;
}

.job-2::before {
  content: url("images/dot.png");
  position: absolute;
  bottom: 0;
  left: -3px;
}

.primary-text {
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  margin: 8px 0;
}

.skills {
  align-self: flex-start;
}

.skills li {
  display: inline;
  list-style-type: none;
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
  margin-right: 5px;
}

.projects-link {
  font-weight: 500;
  font-size: 17px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  align-self: flex-start;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  border-color: #396df2;
  padding: 8px 12px;
  margin-top: 13px;
  transition: 0.7s ease;
}

.projects-link:enabled {
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
}

.projects-link:hover {
  background-color: #6070ff;
  color: white;
  border-color: #396df2;
}

.projects-link:active {
  background-color: #02298b;
  color: white;
  border-color: #02298b;
}

.projects-link:disabled {
  background-color: #fff;
  color: grey;
  border-color: grey;
}

.card-popup-window {
  width: 343px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  background-color: white;
  left: 0;
  top: 0;
}

.name-popup-window {
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.job-popup-window li {
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

.dummy-text {
  font-weight: 400;
  font-size: 15px;
  color: #344563;
}

.skills-popup-window {
  margin: 10px;
  padding: 10px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #ebecf0;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
}

.see-live {
  width: 136px;
  height: 48px;
  display: inline;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-right: 12px;
}

.see-source {
  width: 146px;
  height: 48px;
  display: inline;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.icons-popup-window {
  margin-left: 13px;
}

.about-myself-section {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  border-top-right-radius: 75px;
  padding: 102px 24px;
}

.about-myself {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  padding-bottom: 24px;
}

.about-myself-text {
  font-weight: 400;
  font-size: 16px;
  color: #344563;
  padding-bottom: 15px;
}

#connect-2 {
  display: block;
  width: 327px;
}

#social-icons-2 {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  width: 100%;
}

#resume {
  display: block;
  margin: 40px 0;
  margin-left: -10px;
  width: 170px;
}

.prog-langs {
  list-style-position: inside;
  margin-top: 33px;
  list-style-type: none;
}

.languages {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  position: relative;
  width: 100%;
}

.languages::after {
  content: url("images/arrow-3.png");
  position: absolute;
  left: 260px;
}

.prog-langs li {
  width: 327px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-1 {
  padding-right: 100px;
  position: relative;
}

.li-2 {
  padding-right: 130px;
  position: relative;
}

.li-3 {
  padding-right: 140px;
  position: relative;
}

.li-1::before {
  content: url("images/Ellipse-1.png");
  position: absolute;
  top: 9px;
  left: 10px;
}

.li-2::before {
  content: url("images/Ellipse-2.png");
  position: absolute;
  top: 9px;
  left: 10px;
}

.li-3::before {
  content: url("images/Ellipse-3.png");
  position: absolute;
  top: 9px;
  left: 10px;
}

.frameworks-sills {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  padding: 20px 0 10px 0;
  border-style: solid;
  border-top: hidden;
  border-left: hidden;
  border-right: hidden;
  border-color: #dfe1e6;
  border-width: 1px;
  height: 70px;
  position: relative;
  width: 100%;
}

.frameworks-sills::after {
  content: url("images/arrow.png");
  position: absolute;
  top: 15px;
  left: 260px;
}

.contact-form-section {
  display: flex;
  flex-direction: column;
  background: #6070ff;
  border-top-left-radius: 100px;
  padding: 50px 24px 24px 24px;
  align-items: center;
  background-image: url("images/contact form shapes-mobile.png");
  background-repeat: no-repeat;
  background-position: right;
}

.contact-form-title {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  padding: 5px;
  margin-top: 103px;
}

.contact-form-content {
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #ebebff;
}

form {
  margin: 20px 0 50px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-items {
  margin: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #cfd8dc;
}

#name {
  height: 48px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 17px;
}

#email {
  height: 48px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 17px;
}

#textarea {
  height: 170px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 15px;
}

#submit {
  height: 48px;
  width: 140px;
  padding: 12px 16px;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  transition: 0.7s ease;
}

#submit:enabled {
  background-color: #fff;
  color: #396df2;
  border-color: #396df2;
}

#submit:hover {
  background-color: #6070ff;
  color: white;
  border-color: #396df2;
  transform: scale(1.2);
}

#submit:active {
  background-color: #02298b;
  color: white;
  border-color: #02298b;
}

#submit:disabled {
  background-color: #fff;
  color: grey;
  border-color: grey;
}
